@{
    ViewBag.Title = "Home Page";
}

    <div class="row">

        <div>

            <h3>
                02/10/2022 - Kamigawa Neon Dynasty Released
            </h3>
            <img src="~/Content/Images/Neon_Dynasty_logo.png" />
            <p><a class="btn btn-primary" href="https://magic.wizards.com/en/products/kamigawa-neon-dynasty" target="_blank">Learn more &raquo;</a></p>
        </div>
        <hr />
        <div>

            <h3>
                11/19/2021 - Innistrad Crimson Vow Released
            </h3>
            <img src="~/Content/Images/Crimson_Vow_logo.png" />
            <p><a class="btn btn-primary" href="https://magic.wizards.com/en/products/innistrad-crimson-vow" target="_blank">Learn more &raquo;</a></p>
        </div>
        <hr />
        <div>

            <h3>
                11/19/2021 - Innistrad Midnight Hunt Released
            </h3>
            <img src="~/Content/Images/Midnight_Hunt_logo.png" />
            <p><a class="btn btn-primary" href="https://magic.wizards.com/en/products/midnight-hunt" target="_blank">Learn more &raquo;</a></p>
        </div>

    </div>